__pycache__
plots/*/*
!plots/expl/0,00500.png
!plots/expl/0,00100.png
!plots/expl/0,00050.png
!plots/expl/0,00025.png
!plots/learning_rate/0,500.png
!plots/learning_rate/0,300.png
!plots/learning_rate/0,100.png
!plots/learning_rate/0,050.png
!plots/learning_rate/0,025.png
!plots/learning_rate/0,010.png
!plots/discount/1,00.png
!plots/discount/0,95.png
!plots/discount/0,90.png
!plots/discount/0,80.png
.vscode
